$fontFamily: "PingFangHK-Light";

// 页面主字体设置
$fontSize: 14px;
$fontColor: #282828;

// input placeholder
$placeholderFontSzie: 12px;

$themColor: #FFDC14;
$redColor: #FF2335;
$headerBgColor:#3F3F3F;

// 文字按钮
$textButtonColor: #576B95;

// input宽度
$inputWidth: 375px;